{
  "project_info": {
    "project_number": "225643560458",
    "project_id": "dinor-app-2",
    "storage_bucket": "dinor-app-2.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:225643560458:android:184dbda2374aa43e5e29f3",
        "android_client_info": {
          "package_name": "com.bfedition.dinorapp"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSyCq37nk-Cjt0r3n-QDqZ6R2rB0JOSJQtfM"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}